<div class="ui container">
  <h1>remoteclass</h1>
  <div class="ui grid middle aligned screenHeight">
    <div class="row">
      <div class="sixteen wide column">
        <h3>Введите ваше имя для входа в класс</h3>
        <form class="ui form massive" action="/watch">
          <div class="fields">
            <div class="field six wide">
              <input type="text" id="name" name="name" placeholder="Иван Иванов">
            </div>
            <div class="field two wide">
              <button class="ui blue massive button">
                Войти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
