<div class="ui container">
  <h1>remoteclass</h1>
  <br>
  <div class="ui grid">
    <div class="ui four link cards">
      <div class="card">
        <div class="image">
          <img src="/markup/images/3_4.gif">
        </div>
        <div class="content">
          <div class="header">Matt Giampietro</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/16_9.png">
        </div>
        <div class="content">
          <div class="header">Molly</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/4_3.png">
        </div>
        <div class="content">
          <div class="header">Elyse</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/matthew.png">
        </div>
        <div class="content">
          <div class="header">Elyse</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/matthew.png">
        </div>
        <div class="content">
          <div class="header">Elyse</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/matthew.png">
        </div>
        <div class="content">
          <div class="header">Elyse</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/3_4.gif">
        </div>
        <div class="content">
          <div class="header">Matt Giampietro</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/matthew.png">
        </div>
        <div class="content">
          <div class="header">Elyse</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/markup/images/16_9.png">
        </div>
        <div class="content">
          <div class="header">Molly</div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Check
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var App = {};
  App.cable = ActionCable.createConsumer(`ws://${window.location.hostname}:3000/cable`);

  App.messaging = App.cable.subscriptions.create({channel: 'TeacherChannel'}, {
    received: function(data) {
      console.log(data);
      $('.header').each(function (index, el) {
        if (el.innerHTML.includes(data["name"])) {
          var image = $('img')[index]
          $(image).attr("src", data["image"]);
        }
      })

    },
    connected: function () {
      console.log("connected to teachers channel");
    }
  })

  var pupils = {}
  

  // $('i').click(function () {
  //   $('.ui.modal')
  //     .modal('show')
  //   ;
  // })
</script>
