<div class="ui container">
  <h1>remoteclass</h1>
  <br>
  <div class="ui grid">
    <div class="ui four link cards">
    <div class="ui modal">
      <div class="content">
        <img src="" alt="" style="max-width: 50vw ; max-height: auto">
        <div class="actions">
          <div class="ui cancel button">Cancel</div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var App = {};
  App.cable = ActionCable.createConsumer(`ws://${window.location.hostname}:3000/cable`);

  App.messaging = App.cable.subscriptions.create({channel: 'TeacherChannel'}, {
    received: function(data) {
      console.log(data);

      //if we dont know pupil
      var found_user = false;

      data["name"] = decodeURIComponent(data["name"]).replace('+', ' ')
      $('.header').each(function (index, el) {
        if (el.innerHTML.includes(data["name"])) {
          found_user = true
        }
      })

      if (!found_user && data["event"] == "new-image-data") {
        var template = '<div class="card view" data="' + data["name"] + '"><div class="image"><img src="' + data["image"] + '"></div><div class="content"><div class="header">' + data["name"] + '</div></div><div class="ui bottom attached button"><i class="add icon"></i>Check</div></div>'
        $('.ui.four.link.cards').append(template)

        $('.view').click(function() {
          var name = $(this).attr('data')
          var name_image = $(this).children('.image').children('img').attr('src')

          $('.content img').attr("src", name_image);
          $('.content img').attr("data", name);

          $('.ui.modal').modal('show');
        })
      }

      console.log('FOUND USER = ' + found_user);

      // if we already know this pupil
      $('.header').each(function (index, el) {
        if (el.innerHTML.includes(data["name"])) {
          var image = $('.card img')[index]
          $(image).attr("src", data["image"]);
          if ($('.content img').attr('data') == data["name"]) {
            $('.content img').attr("src", data["image"]);
          }
        }
      })

    },
    connected: function () {
      console.log("connected to teachers channel");
    }
  })
</script>
