<div class="ui container">
  <h1>remoteclass</h1>
  <div class="ui grid middle aligned screenHeight">
    <div class="row">
      <div class="sixteen wide column">
        <h3>Введите ваш пароль учителя</h3>
        <form class="ui form massive" action="/teacher" method="post">
          <div class="fields">
            <div class="field six wide">
              <input type="password" id="password" name="password" placeholder="*********">
            </div>
            <div class="field two wide">
              <button class="ui blue massive button" type="submit">
                Войти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // $('button').click(function () {
  //   alert("Clicked")
  // })
</script>
