<link rel="stylesheet" href="/videojs/video-js.css">
<link rel="stylesheet" href="/css/view.css">
<script src="/videojs/video.js"></script>

<video id="player" class="video-js video-player" controls autoplay preload="auto">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>

<style>
  html, body {
    position: fixed;
  }
</style>

<script>
  var player = videojs('player');

  var setSrc = function () {
    let stream = "http://" + location.hostname + ":8085/hls/live.m3u8?cache=" + Math.random();

    player.src({
      src: stream,
      type: 'application/x-mpegURL',
      overrideNative: true
    });

    player.load();
  }

  setInterval(function () {
    console.log("rs", player.readyState())
  }, 1000)

  setSrc()

  player.reloadSourceOnError()

  player.on("playing", function () {
    player.liveTracker.seekToLiveEdge();
  });

  player.on("durationchange", function () {
    console.log("Can play!")
  });

  player.on("ended", function () {
    console.log("Ended!")
  });

  player.on("error", function (e) {
    if (this.error().code === 4) {
      setTimeout(function () {
        console.log("Retrying")
        setSrc()
      }, 5000)
    }
  });

  var App = {};
  App.cable = ActionCable.createConsumer(`ws://${window.location.hostname}:3000/cable`);

  let user_name = window.location.search.substr(1).split('=')[1];

  // trying to connect as a teacher
  const teacherChannel = App.cable.subscriptions.create({channel: 'TeacherChannel', name: user_name}, {
    received: function(data) {
      console.log(data);
    },
    connected: function () {
      console.log("connected as a teacher")
      this.perform('send_message_to_pupils', { message: 'Your teacher have just connected!' });
    },
    sendMessage: function(messageBody) {
      console.log('wtf is this');
    }
  })

  // trying to connect as a pupil
  App.messaging = App.cable.subscriptions.create({channel: 'PupilChannel', name: user_name}, {
    received: function(data) {
      console.log(data);
    },
    connected: function () {
      console.log("connected as a pupil")
    },
    sendMessage: function(messageBody) {

    }
  })
</script>
